---
common-css:
  - "/css/bootstrap.min.css"
  - "/css/bootstrap-social.css"
  - "/css/main.css"
common-ext-css:
  - "//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"
common-googlefonts:
  - "Source+Sans+Pro:300,300i,400,400i,700,700i,900"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/js.cookie.js"
  - "/js/main.js"
  - "/js/custom.js"
---

<!DOCTYPE html>
<html lang="en">
  <!-- MIT license | Copyright Dean Attali 2016 -->
  {% include head.html %}

  <body>
  
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
    
    {% include footer-scripts.html %}

    {% if page.addthis-plugin %} 
      <!-- AddThis plugin (floating social media sharing buttons on the left of each post) -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57d65a4d97789dd1"></script>
    {% endif %}
    
  </body>
</html>
